{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <form method="GET">
        <br>
        <br>
        <input type="text" name="nome" placeholder="Busca por Nome"/>
        <input type="submit" value="Buscar"/>
    </form>
</div>
</p>
<div class="container">
    <a href="{% url 'cliente.novo' %}">+ Cadastrar Novo Cliente</a>
</div>
</p>
</p>
</p>
</p>
<br>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Data de Criação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in object_list %}
            <tr>
                <td>{{ cliente.nome_completo }}</td>
                <td>{{ cliente.endereco }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.data_criacao|date:"d/m/Y" }}</td>                
                <td>
                    <a href="{% url 'cliente.editar' cliente.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'cliente.remover' cliente.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}